#contain {
	width: 95%;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#header {
	height:20%;	
	width:100%;	
}

#profilepic {
	height:20%;
	width:15%;
	float: left;
	
}

.img-circle {
    border-radius: 50%;
	width: 150px;
	height: 150px;
}

#details {
	height:20%;
	width:25%;
	float:left;	
}

#widgetlist a:hover {
	background-color: #6C88A6;	
}

#disp{
	height:20%;
	width:40%;
	float: right;	
}

.img-marq {
    height: 150px;
}

#content {
	width:100%;
    padding-top:20%;	
}

#leftcol {
	margin-left:-15px;
	margin-right:-15px
}

#navcontainer { 
	width:80%;	
}

#navcontainer ul {
	padding-left:0;
	padding-right: 20;
	list-style-type: none;
	font-family: verdana;
}

#navcontainer a {
	display: block;
	width: 100%;
	background-color: #2B4F77;
	border-bottom: 1px solid #eee;
}

#navcontainer a:link, #navlist a:visited {
	color: #EEE;
	text-decoration: none;
}

#navcontainer a:hover {
	background-color: #6C88A6;
	color: #fff;
}

#text {
	padding-left:20%;
}




